<mat-toolbar color="primary" class="mat-elevation-z5">
<mat-toolbar-row>
  <span><img src="../assets/restaurant.png " style="width : 200px; height : 50px; vertical-align:bottom"></span>
  <button type="button" aria-label="Toggle-sidenav" mat-icon-button (click)="toggleNav(sidenav)">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
<span class="fill-remaining-space"></span>
<button mat-icon-button>
  <mat-icon class="vap-icon" aria-hidden="false" aria-label="settings icon">settings</mat-icon>
</button>
<button mat-icon-button>
  <mat-icon class="vap-icon" aria-hidden="false" aria-label="home icon">home</mat-icon>
</button>
</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="vertical-menu" style="width:200px">
<mat-nav-list>
      <a mat-list-item routerLink="dashboard" skipLocationChange="true">
        <mat-icon>dashboard</mat-icon>&nbsp;<label>Dashboard</label>
      </a>
      <a mat-list-item routerLink="departmentlist" skipLocationChange="true">
        <mat-icon>recent_actors</mat-icon>&nbsp;<label>Departments</label>
      </a>
      <a mat-list-item routerLink="employeelist" skipLocationChange="true">
        <mat-icon>wc</mat-icon>&nbsp;<label>Employees</label>
      </a><a mat-list-item routerLink="department" skipLocationChange="true">
        <mat-icon>contact_support</mat-icon>&nbsp;<label>Test Component</label>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p style="height:85vh">
    <router-outlet></router-outlet>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
